    <div style="margin-top:10px;float:left;background-color: rgba(0, 0, 0, 0.7);border-radius:25px;padding:15px;font-size:12pt;width:100%;height:450px;">
        1. How to install Hearthmod?<br />
        <p>
        1) Download <a href="https://drive.google.com/open?id=0BwrkbGFCSeOZRXlvOUhhY3czVkk">Hearthstone client</a><br />

        2) Download <a href="https://drive.google.com/open?id=0BwrkbGFCSeOZTnZtb3VtYnRKd0k">Hearthmod client</a><br />
        3) Extract <b>Hearthstone client</b> and <b>Hearthmod client</b>. Then move <b>Hearthmod client</b> extracted content to Hearthstone client: <u>hearthmod/hearthmod_client</u><br />
        4) If you use Windows, go to <u>hearthmod/hearthmod_client/win32/</u> and execute hearthmod.exe
        </p>


        2. How to play Hearthmod?<br />
        <p>When installed, run hearthmod.exe if you use Windows OS or hearthmod if you use linux. When you create a deck and run the Hearthstone client, you must only press Play in the menu section. Once you enter Heroes selection screen, you must press Play button again. When your opponent is found, you enter the game.</p>

    </div>

