<div style="overflow:hidden;width:100%;background-color: rgba(0, 0, 0, 0.7);border-radius:25px;padding:10px;">
    <form class="form" method="post" style="float:left;"> 
        <div style="overflow:hidden;">
            <div style="float:left;width:200px;">Username:</div> 
            <div style="float:left;width:200px;"><input id='login_email' type="text" style="background-color: rgba(0, 128, 0, 0.7);border:0px;color:white;width:200px;"/></div>
        </div>

        <div style="overflow:hidden;">
            <div style="float:left;width:200px;">Password:</div> 
            <div style="float:left;width:200px;"><input id='login_pass' type="text" style="background-color: rgba(0, 128, 0, 0.7);border:0px;color:white;width:200px;"/></div>
        </div>

        <div style="overflow:hidden;">

            <div style="float:left;width:200px;height:10px;"></div> 
            <div style="float:left;width:200px;"><input id='signin' type="submit" value="Sign in" style="background-color: rgba(0, 128, 0, 0.7);border:0px;color:white;width:200px;cursor:pointer;"/>
        </div>
    </form>
</div>
